.container{
    width: 800px;
    height:600px;
   
}

html {
  scroll-behavior: smooth;
}


header img{
  width: 150px;
  height: 50px;
}

#paketler{
  height: 720px;
 
    
}

#paketlerimiz{
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 25px;
  padding-top: 10px;

}



.text-overlay {
    padding-bottom: 80px;
    position: absolute;
    top: 50%; /* Dikey ortalama */
    left: 50%; /* Yatay ortalama */
    transform: translate(-50%, -50%); /* Merkeze hizalama */
    color:#FFFAF0;
    font-size: 22px;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
  
  }


#bilgial{
    margin-top: 55px;
    height: 350px;
}

.copyright{

    font-size: 10px;
   margin-left: 5px;
    
   
}

.row img:hover{
    opacity: 0.8;

}
#soru{
  margin-top: 50px;
  height: 200px;
}

#soru img{
    width: 400px;
    height: 250px;
    margin-left: 340px;
    margin-top: 5px;
}

.card-title{
    text-align: center;
}

.buttons-group{
    margin-left: 320px;
    margin-top: 25px;
}
  
  button.secenek {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
  }
  
  button.secenek:hover {
    background-color: #0056b3;
  }
  
  .hidden {
    display: none;
  }
  
  #geriBildirim {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
  }



.rezervasyon-bilgi{
  margin: auto;
  border-radius: 25px;
  background-color:#f9f9f9; 
  padding: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

}
.rezervasyon-bilgi h2 {
  
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}




  .rezervasyon-kismi {
    max-width: 400px;
    margin:  auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    
    
  }


  .rezervasyon-kismi h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
  }
 
  
  form label {
    display: block;
    margin: 10px 0 5px;
  
    
  }
  
  form input, form select, form button {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  form button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #0056b3;
  }
  
  
  

.footer{
  float: right;
}